AIR_DB_BACKEND=sqlite
AIR_SQLITE_PATH=data/air_monitoring.db

# Для SQL Server поставьте AIR_DB_BACKEND=sqlserver и настройте параметры ниже.
AIR_DB_SERVER=localhost\SQLEXPRESS
AIR_DB_NAME=AirMonitoringDB
AIR_DB_DRIVER=ODBC Driver 17 for SQL Server
AIR_DB_TRUSTED_CONNECTION=yes
AIR_DB_TRUST_SERVER_CERTIFICATE=yes
AIR_DB_CREATE_DATABASE=true

AIR_API_HOST=127.0.0.1
AIR_API_PORT=8000
AIR_API_BASE_URL=http://127.0.0.1:8000

AIR_DASHBOARD_USERNAME=airvision_admin
AIR_DASHBOARD_PASSWORD=change-this-password
